body {
  font-family: "Montserrat", sans-serif;
  color: #41153082;
  background-color: #41153028;
}

ul {
  margin: 0;
  padding: 5px;
}
li {
  list-style-type: none;
  color: #411530;
  font-size: 12px;
}
p {
  color: #41153082;
  line-height: 0.5;
  font-size: 14px;
}

a {
  color: #d36b00;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  text-align: right;
}
.noPadding {
  padding: 0;
}
.Temperature h1 {
  color: #411530;
}

.Location h1 {
  color: #d36b00;
}
.Units {
  color: #411530;
  font-size: 15px;
  text-align: left;
}

.Description {
  display: block;
  text-align: right;
  color: #41153082;
  font-size: 12px;
  padding: 0;
}
.Definitions p {
  text-align: right;
  padding: 5px;
  margin-left: 0px;
}
.Values p {
  color: #41153082;
  font-size: 15px;
  text-align: left;
  padding: 5px;
  margin-left: 0px;
}

strong {
  color: #41153082;
  text-align: center !important;
}

footer {
  font-size: 12px;
}
