:root {
  --primary-color: #793b4a;
  --secondary-color: #6e89b3;
  --third-color: #f0dade;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  background-image: url(./images/clouds.jpg);
}
.Weather {
  max-width: 600px;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin-top: 30px;
  background-color: white;
}

.WeatherAppWrap {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 5px;
}
li {
  list-style-type: none;
  font-size: 12px;
}
p {
  color: var(--secondary-color);
  line-height: 1.5;
  font-size: 14px;
  margin: 0 auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-size: 35px;
  text-align: left;
  color: var(--secondary-color);
}

.Temperature {
  display: table-cell;
  width: 200ox;
  height: 80px;
  padding: 20px 12px;
  vertical-align: middle;
}

.Location {
  display: table-cell;
  width: 200ox;
  height: 80px;
  padding: 20px 12px;
  vertical-align: middle;
}
.Icon {
  padding: 0;
}
.temp {
  font-size: 35px;
  color: var(--secondary-color);
}
.units {
  color: var(--secondary-color);
  font-size: 15px;
  text-align: left;
  position: relative;
  top: -18px;
}

.CurrentConditions {
  text-align: left;
  padding: 5px;
  margin-left: 0px;
  color: var(--primary-color);
}

strong {
  color: #845162;
  text-align: center !important;
}

footer {
  font-size: 12px;
}

.SearchEngineng {
  max-height: 45px;
}

.formControl {
  font-size: 14px;
  line-height: 1;
  border-color: #4115301c;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.formControl::placeholder {
  color: var(--primary-color);
  opacity: 1;
  font-size: 12px;
}

.checkBtn {
  border-radius: 8px;
  border: 1px solid var(--third-color);
  color: var(--third-color);
  font-size: 13px;
  background: var(--primary-color);

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.checkBtn:hover {
  background: var(--third-color);
  color: var(--primary-color);
}

.locationBtn {
  border-radius: 8px;
  border: 1px solid #41153004;
  font-size: 13px;
  background: #4115304a;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.locationBtn:hover {
  background: var(--third-color);
}

.Day,
.Time {
  color: var(--primary-color);
  line-height: 1.5;
  font-size: 14px;
}
